# https://github.com/FuzzyGrim/Yamtrack/wiki/Environment-Variables
# ==========================
#    Application Settings
# ==========================\
# Shortcut to set both the CSRF and ALLOWED_HOSTS settings. Comma-separated list of URLs (e.g., https://yamtrack.mydomain.com).
URLS=
# Whether to enable or disable registration. If you don't want to allow registration, set this to False.
REGISTRATION=True

# ==========================
#        Database Settings
# ==========================
# The redis URL for Yamtrack, do not change this.
REDIS_URL=redis://redis:6379
# A cryptographic key, generate one using the command below
# echo "$(openssl rand -base64 64 | tr -d '=/' | tr -d '\n')"
SECRET=
# PostgreSQL database settings.
POSTGRES_USER=
POSTGRES_PASSWORD=

# -------------------
#     TMDB
# -------------------
# Settings for https://www.themoviedb.org/
# Used for movies, TV shows, and anime
#
# TMDB API Key, can be obtained at https://www.themoviedb.org/settings/api
TMDB_API=
# Whether to enable adult content.
TMDB_NSFW=True
# The language to use for TMDB. Provide a ISO 639-1 language code (e.g. en, fr, de),
# optionally followed by a specific ISO-3166-1 country code (e.g. US, GB, FR)
# e.g en or en-US
# ISO 639-1: https://en.wikipedia.org/wiki/List_of_ISO_639_language_codes (Set 1 Column)
# ISO-3166-1: https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes (A-2 Column)
TMDB_LANG=en-US

# -------------------
#      MyAnimeList
# -------------------
# Settings for https://myanimelist.net/
# Used for anime and manga
#
# The Client ID to use for MAL. A default one is provided and can be used without issues.
# However, you can create your own application at https://myanimelist.net/apiconfig/create
# Use the 'Other' application type and the redirect URL can be set to anything e.g https://github.com/FuzzyGrim/Yamtrack
# MAL_API=
# Whether to enable adult content on MAL.
MAL_NSFW=True

# -------------------
#   MangaUpdates
# -------------------
# Settings for https://www.mangaupdates.com/
# Used for manga.
#
# Whether to enable adult content on MangaUpdates.
MU_NSFW=True

# -------------------
#     IGDB
# -------------------
# Settings for https://www.igdb.com/
# Used for games.
#
# The Client ID and secret to use for IGDB. A default one is provided, but it is recommended to create your own application as it has lower rate limits.
# You will need a Twitch account, follow the steps at https://api-docs.igdb.com/#account-creation
# to get a Twitch Application client ID and secret.
# IGDB_ID=
# IGDB_SECRET=
# Whether to enable adult content on IGDB.
IGDB_NSFW=True

# =========================
#        MEDIA IMPORTING
# =========================
# These settings allow you to control the applications used to import media into Yamtrack from other sources.

# -------------------
#     Trakt
# -------------------

# The Trakt Client ID. A default one is provided.
# However, you can create your own application at https://trakt.tv/oauth/applications/new
# The redirect URL can be set to anything e.g https://github.com/FuzzyGrim/Yamtrack
# TRAKT_ID=

# --------------------
#     Simkl
# --------------------

# The Simkl Client ID. A default one is provided.
# However, you can create your own application at https://simkl.com/settings/developer/new/custom-search/
# SIMKL_ID=
# SIMKL_SECRET=

# =========================
#       GENERAL SETTINGS
# =========================
PUID=1000
PGID=1000
TZ=America/Chicago
