# https://github.com/JourneyDocker/docker-autoheal#environment-defaults
PUID=1000
PGID=1000
TZ=America/Chicago
AUTOHEAL_CONTAINER_LABEL=all
AUTOHEAL_INTERVAL=5
AUTOHEAL_START_PERIOD=60
AUTOHEAL_RESTART_THRESHOLD=5
AUTOHEAL_RESTART_WINDOW=1800
AUTOHEAL_ONLY_MONITOR_RUNNING=true
